@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?pg1ctx');
  src:  url('../fonts/icomoon/icomoon.eot?pg1ctx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?pg1ctx') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?pg1ctx') format('woff'),
    url('../fonts/icomoon/icomoon.svg?pg1ctx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-right:before {
  content: "\e908";
}
.icon-chevron-thin-left:before {
  content: "\e909";
}
.icon-pinterest:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-facebook-f:before {
  content: "\e902";
}
.icon-quotes-right:before {
  content: "\e903";
}
.icon-rdquo:before {
  content: "\e903";
}
.icon-zoom_in:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e907";
}
