/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Global style*/
body {
    font-family: "Poppins", serif;
}

* {
    box-sizing: border-box;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    color: #613d3d;
    margin: 0 0 15px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    display: block;
    width: 100%;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -20px;
    margin-right: -20px;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 767px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 86%;
        max-width: 960px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 80%;
        max-width: 1140px;
    }
}

/*Global style for headings*/
.title-section {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #f29898;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
}

.title-section span {
    padding: 0 10px;
}

.title-section::before,
.title-section::after {
    content: '';
    position: relative;
    display: none;
    width: 55px;
    height: 1px;
    background-color: #ece7e7;
}

@media only screen and (min-width: 767px) {
    .title-section::before,
    .title-section::after {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .title-section {
        font-size: 24px;
        line-height: 1.1;
        margin: 0 0 55px;
    }

    .title-section span {
        padding: 0 12px;
    }

    .title-section::before,
    .title-section::after {
        width: 126px;
    }
}

/*Header*/
.header {
    position: relative;
    padding: 10px 15px;
}

.nav {
    display: flex;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 152, 152, 0.95);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.nav.open {
    display: flex;
}

.nav-list {
    display: flex;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list-item {
    margin-bottom: 45px;
}

.nav-list-item a {
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
}

.burger {
    display: inline-block;
    position: relative;
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 1;
    height: 25px;
    width: 35px;
    z-index: 11;
}

.burger span,
.burger::before,
.burger::after {
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #f29898;
    display: block;
    transition: 0.2s ease-in-out;
}

.burger::before,
.burger::after {
    content: '';
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger span,
.burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger span:nth-child(2) {
    opacity: 0;
}

.burger.open span {
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff;
}

.burger.open span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
    background-color: #fff;
    opacity: 1;
}

.burger.open::before,
.burger.open::after {
    width: 0;
}

.site-logo {
    display: block;
    max-width: 50px;
}

@media only screen and (min-width: 992px) {
    .header {
        padding: 15px 25px;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-logo {
        max-width: 85px;
    }

    .burger {
        display: none;
    }

    .nav {
        display: flex;
        width: auto;
        height: auto;
        position: relative;
        align-items: center;
        flex-direction: row;
        background-color: transparent;
    }

    .nav-list {
        flex-direction: row;
    }

    .nav-list-item {
        margin: 0 8px 0 0;
    }

    .nav-list-item a {
        font-size: 16px;
        line-height: 1;
        color: #613d3d;
        padding: 8px 15px;
        transition: 0.2s ease-in-out;
        position: relative;
    }

    .nav-list-item a::after {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background-color: #f29898;
        transition: 0.2s ease-in-out;
    }

    .nav-list-item a:hover {
        color: #f29898;
    }

    .nav-list-item a:hover::after {
        width: 100%;
    }
}
/*Header end*/

/*Hero Section*/
.section-hero {
    position: relative;
    padding: 0;
}

.section-hero-slide {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 45px 0;
    text-align: center;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.section-hero-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c2425;
    opacity: 0.3;
    z-index: 0;
}

.section-hero-slide-content {
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.section-hero__pretitle {
    font-size: 16px;
    line-height: 1;
    position: relative;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.section-hero__pretitle::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    background-color: #f29898;
}

.section-hero__title {
    font-family: 'Rochester';
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    margin: 20px 0 30px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
    width: 25px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
}

.slick-arrow:focus {
    outline: none;
}

.slick-arrow:hover::before {
    color: #f29898;
}

.slick-arrow::before {
    font-family: 'icomoon';
    font-size: 44px;
    color: #fff;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
}

.section-hero .slick-prev {
    left: 4%;
}

.slick-prev::before {
    content: "\e909";
}

.section-hero .slick-next {
    right: 4%;
}

.slick-next::before {
    content: "\e908";
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
}

.slick-dots li {
    list-style: none;
    margin: 0 5px;
    line-height: 0;
}

.slick-dots button {
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    padding: 0;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
}

.slick-dots li.slick-active button {
    background-color: #f29898;
}

.slick-dots button:focus {
    outline: none;
}

.slick-slide:focus {
    outline: none;
}

@media only screen and (min-width: 767px) {
    .section-hero-slide {
        min-height: 400px;
    }

    .section-hero__pretitle {
        font-size: 20px;
    }

    .section-hero__title {
        font-size: 50px;
        margin: 20px 0 40px;
    }

    .slick-dots {
        bottom: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .section-hero-slide {
        min-height: 88vh;
    }

    .section-hero__title {
        font-size: 75px;
        margin: 20px 0 8.7vh;
    }

    .slick-dots li {
        margin: 0 10px;
    }

    .slick-dots button {
        width: 15px;
        height: 15px;
    }

}

@media only screen and (min-width: 1450px) {
    .section-hero__title {
        font-size: 100px;
    }

    .section-hero .slick-prev {
        left: 8%;
    }

    .section-hero .slick-next {
        right: 8%;
    }
}

/*Choose choose*/
.section-choose {
    padding: 45px 0;
}

.section-choose-box {
    width: 25%;
    padding: 0 20px;
}

.section-choose-box:hover img {
    transform: scale(1.05);
}

.section-choose-box:hover .section-choose-img::before {
    opacity: 0.7;
    visibility: visible;
}

.section-choose-box:hover .section-choose-img-text {
    opacity: 1;
    visibility: visible;
}

.section-choose-box:hover .section-choose-text h4 {
    color: #f29898;
}

.section-choose-slider {
    position: relative;
}

.section-choose-slider .slick-arrow::before {
    color: #c5c5c5;
}

.section-choose-slider .slick-arrow:hover::before {
    color: #f29898;
}

.section-choose-slider .slick-prev {
    left: -35px;
}

.section-choose-slider .slick-next {
    right: -35px;
}

.section-choose-slider .slick-dots {
    bottom: -40px;
}

.section-choose-slider .slick-dots button {
    background-color: #613d3d;
}

.section-choose-img {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.section-choose-img img {
    width: 100%;
    transition: 0.2s ease-in-out;
}

.section-choose-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e28f90;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 0.2s ease-in-out;
}

.section-choose-img-text {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: 0.2s ease-in-out;
}

.section-choose-text h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    color: #613d3d;
    margin-top: 0;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.section-choose-text p {
    margin-bottom: 10px;
}

.section-choose-text span {
    font-size: 17px;
    line-height: 1.1;
    font-weight: 500;
    color: #f29898;
    display: block;
}

@media only screen and (min-width: 992px) {
    .section-choose {
        padding: 75px 0 35px;
    }

    .section-choose-img {
        margin-bottom: 20px;
    }

    .section-choose-text h4 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .section-choose-img-text {
        font-size: 20px;
    }

    .section-choose-text span {
        font-size: 26px;
    }
}

@media only screen and (min-width: 1200px) {
    .section-choose-slider .slick-prev {
        left: -64px;
    }

    .section-choose-slider .slick-next {
        right: -64px;
    }
}

/*Section About*/
.section-about {
    padding: 35px 0;
}

.section-about-holder {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section-about-box {
    width: 100%;
    padding: 0 20px;
    position: relative;
    margin-bottom: 30px;
}

 .section-about-box:last-of-type {
    margin-bottom: 0;
}

.section-about-text-img {
    max-width: 80%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 992px) {
    .section-about-holder {
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .section-about-box {
        width: 50%;
        margin-bottom: 0;
    }
}

/*Section gallery*/
.section-gallery {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.section-tabs a {
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    color: #613d3d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 25px;
    border: 2px solid #f29898;
    margin: 0 0 20px 0;
}

.section-tabs a:nth-of-type(4n + 4) {
    margin-right: 0;
}

.section-tabs a.active {
    background-color: #f29898;
    color: #fff;
}

.section-images {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none;
}

.section-images.active {
    display: flex;
}

.section-images-link {
    display: inline-block;
    position: relative;
    width: 47%;
    margin-right: 5.3%;
    margin-bottom: 25px;
    overflow: hidden;
}

.section-images-link img {
    transition: 0.2s ease-in-out;
}

.section-images-link::before {
    content: "\e904";
    position: absolute;
    font-family: 'icomoon';
    font-size: 60px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.section-images-link::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #37d6d6;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.section-images-link:hover img {
    transform: scale(1.05);
}

.section-images-link:hover::before {
    opacity: 1;
    visibility: visible;
}

.section-images-link:hover::after {
    opacity: 0.5;
    visibility: visible;
}

.section-images-link:nth-of-type(2n + 2) {
    margin-right: 0;
}

.section-images-link:nth-of-type(4n + 4) {
    margin-right: 0;
}

.section-images-link img {
    width: 100%;
}


@media only screen and (min-width: 992px) {
    .section-gallery {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .section-tabs {
        margin-bottom: 50px;
    }

    .section-tabs a {
        font-size: 20px;
        width: 21%;
        padding: 17px 25px;
        margin-right: 5.3%;
        transition: 0.2s ease-out;
    }

    .section-tabs a:hover {
        background-color: #f29898;
        color: #fff;
    }

    .section-images-link {
        margin-bottom: 60px;
    }

    .section-images-link {
        display: inline-block;
        position: relative;
        width: 21%;
        margin-right: 5.3%;
        margin-bottom: 25px;
    }

    .section-images-link:nth-of-type(2n + 2) {
        margin-right: 5.3%;
    }

    .section-images-link:nth-of-type(4n + 4) {
        margin-right: 0;
    }

}

/*@media only screen and (min-width: 767px) {
    .section-tabs a {
        width: 47.3%;
        padding: 10px 25px;
        margin-right: 5.3%;
    }

    .section-tabs a:nth-of-type(2n + 2) {
        margin-right: 0;
    }
}*/

/*Section Testimonials*/
.section-testimonials {
    padding-top: 30px;
    padding-bottom: 0;
    text-align: center;
}

.section-testimonial-slider {
    padding: 80px 0 50px;
    color: #fff;
    position: relative;
    background:
    radial-gradient(black 0.01%, transparent 16%) 0 0,
    radial-gradient(black 0.01%, transparent 16%) 4px 4px,
    radial-gradient(rgba(255,255,255,.01) 15%, transparent 80%) 0 1px,
    radial-gradient(rgba(255,255,255,.01) 15%, transparent 80%) 4px 4px;
    background-size: 8px 8px;
    background-color: #59dddd;
}

.testimonials-slide__holder {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-testimonial-slider::before {
    content: "\e903";
    font-family: 'icomoon';
    font-size: 35px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonials-slide-title {
    font-size: 20px;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0 30px;
}

.testimonials-slide-title span {
    padding: 0 20px;
}

.testimonials-slide-title::before,
.testimonials-slide-title::after {
    content: '';
    position: relative;
    width: 25px;
    height: 1px;
    background-color: #fff;
}

.testimonials-slide-text {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.03em;
    line-height: 1.3;
    margin: 25px auto;
}

@media only screen and (min-width: 992px) {
    .section-testimonial-slider {
        padding: 140px 0;
    }

    .section-testimonial-slider::before {
        font-size: 55px;
        top: 55px;
    }

    .testimonials-slide-title {
        font-size: 28px;
        letter-spacing: 0.03em;
    }

    .testimonials-slide-title span {
        padding: 0 33px;
    }

    .testimonials-slide-title::before,
    .testimonials-slide-title::after {
        width: 42px;
    }

    .testimonials-slide-text {
        font-size: 24px;
        line-height: 1.5;
    }
}

/*Footer*/
.footer-top {
    background-color: #442a2a;
    padding: 40px 0 20px;
    text-align: center;
}

.footer .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top p {
    font-family: 'Poppins', serif;
    font-size: 16px;
    color: #b2abab;
    font-weight: 300;
    margin-bottom: 8px;
}

.footer-box.contact-us a {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: #f29898;
    display: inline-block;
    transition: 0.2s ease-in-out;
    position: relative;
    padding-left: 30px;
}

.footer-box.contact-us a::before {
    position: absolute;
    font-size: 19px;
    color: #fff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer-box.contact-us a:hover {
    color: #fff;
}

.footer-box-title {
    font-size: 18px;
    line-height: 1.1;
    color: #b2abab;
    letter-spacing: 0.03em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
}

.footer-box {
    width: 100%;
    padding: 15px;
}

.footer-box:last-of-type {
    width: 100%;
    border-right: 0;
}

.footer-copyright {
    background-color: #321f1f;
    text-align: center;
    padding: 20px 15px;
}

.footer-copyright-text {
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    color: #5d5252;
    display: block;
}

.follow-us-holder {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-us-holder a {
    color: #fff;
    display: inline-block;
    margin-right: 22px;
}

.follow-us-holder a::before {
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.2s ease-in-out;
}

.follow-us-holder a:last-of-type {
    margin-right: 0;
}

.follow-us-holder a:hover::before {
    color: #f29898;
    transform: scale(1.15);
}

@media only screen and (min-width: 992px) {
    .footer-top {
        padding: 70px 0 20px;
        text-align: left;
    }

    .footer-box {
        width: 28%;
        padding: 20px 30px;
        border-right: 1px solid #5e4848;
    }

    .footer-box:last-of-type {
        width: 16%;
        border-right: 0;
    }

    .footer-box-title {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .follow-us-holder {
        justify-content: flex-start;
    }
}


/*Buttons*/
.btn {
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    color: #613d3d;
    font-weight: 300;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fff;
    transition: 0.2s ease-out;
}

.btn.btn-solid {
    font-size: 18px;
    background-color: #f29898;
    border-color: #f29898;
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .btn {
        font-size: 18px;
        color: #f29898;
        padding: 18px 40px;
        border: 2px solid #f29898;
    }

    .btn.btn-solid {
        font-size: 24px;
    }

    .btn:hover {
        color: #fff;
        background-color: #f29898;
    }

    .btn-solid:hover {
        color: #f29898;
        background-color: #fff;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
   section {
    padding-top: 30px;
    padding-bottom: 30px;
   }
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
